@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left:575px ;
    top:490px ;
    width: 300px;
    
}

video#filme1 {
    display: block;
    position: relative;
    left: 87px;
    top:65px;
    width: 440px;
}

video#filme2 {
    display: block;
    position: relative;
    width: 550px;
    left: 75px;
    margin-bottom: 15px;
}

video#filme3 {
    display: block;
    width: 400px;
}